#root {
  height: 100vh;

  display: flex;
}

.AppForm {
  width: 500px;

  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  margin:auto;
}

.InputWrapper {
  display: flex;
  flex-direction: column;
}


input {
  height: 30px;

  box-sizing: border-box;

}

.formLabel {
  margin-bottom: 10px;
  margin-left: 10px;
}

.formButton {
  box-sizing: border-box;

  height: 30px;
  width: 100px;

  background-color: #ffffff;

  border-width: 1px;
}

.formButton:hover {
  cursor: pointer;
  background-color: aliceblue;
}